<div class="main-content" style="padding-right: 260px;">
  <div class="container-fluid">
      <div class="card">
        <div id="typography" class="mx-auto">
            <!-- <div class="card-title">
                <h5>Sign-in</h5>
            </div> -->
            <div class="card-body">
                <div class="btn btn-danger" id="googleBtn">Google</div>
                <div><a (click)="toggle=!toggle">Or login using credentials</a></div>
                    <div *ngIf="toggle">
                        <div class="form-group">
                          <input placeholder="Username" type="text" class="form-control" id="usr">
                        </div>
                        <div class="form-group">
                          <input placeholder="Password" type="password" class="form-control" id="pwd">
                        </div>
                        <div class="form-group">
                            <button class="btn">login</button>
                        </div>
                    </div>
            </div>
        </div>
      </div>
  </div>
</div>
