<div class="main-content">
  <div class="container-fluid">
      
      
      <div class="row">
          <div class="col-lg-6 col-md-12 navbar-form mx-auto">
            <input autofocus [(ngModel)]="serial" (keyup.enter)="search(serial)" type="text" class="form-control" placeholder="Search by skill or employee name">
            <button (click)="search(serial)" class="btn btn-danger pull-right mat-raised-button">Search</button>
          </div><br><br>

        
          
          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-body table-responsive">
                      <table class="table table-hover" *ngIf="searchResult">
                          <thead class="text-danger">
                              <th>Name</th>
                              <th>Skills</th>
                          </thead>
                          
                          <tbody>
                              <tr *ngFor="let result of searchResult">
                                  <!-- attr.href to be made localhost:4200 for local development -->
                                  <!-- attr.href to be made employee-wall-test1.s3-website.ap-south-1.amazonaws.com for deployment -->
                                  <td><a [attr.href]="'http://employee-wall-test1.s3-website.ap-south-1.amazonaws.com/user-profile?user=' + result.name">{{result.name}}</a></td>
                                  <td><a id="skillAnchor" (click)="search(result.skill)">{{result.skill}}</a></td>
                                  
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
