<div class="main-content">
  <div class="container-fluid">
      
      
      <div class="row">
          <div class="col-lg-6 col-md-12 navbar-form mx-auto">
            <input type="text" class="form-control" placeholder="Search by skill or employee name">
            <button class="btn btn-danger pull-right mat-raised-button">Search</button>
          </div><br><br>
          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-danger">
                              <th>Name</th>
                              <th>Skills</th>
                          </thead>
                          <tbody>
                              <tr>
                                  
                                  <td>Dakota Rice</td>
                                  <td>$36,738</td>
                                  
                              </tr>
                              <tr>
                                  
                                  <td>Minerva Hooper</td>
                                  <td>$23,789</td>
                                  
                              </tr>
                              <tr>
                                  
                                  <td>Sage Rodriguez</td>
                                  <td>$56,142</td>
                                  
                              </tr>
                              <tr>
                                  
                                  <td>Philip Chaney</td>
                                  <td>$38,735</td>
                                  
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
