<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                <h3 class="text-danger tab-heading">Add New User</h3>  
                <form class="form-inline" role="form">
                   <div class="form-group mx-auto">
                    <label class="text-danger" style="padding: 5px" for="nameValue">Name:</label>
                    <input [(ngModel)]="nameValue" type="text" class="form-control" placeholder="Enter name" name="user">
                   </div>
                   <div class="form-group mx-auto">
                      <label class="text-danger" style="padding: 5px" for="skill">Role:</label>
                    <input [(ngModel)]="role" [ngModelOptions]="{standalone: true}" type="radio" class="form-control" name="role" value="user"><label>User</label>
                    <input [(ngModel)]="role" type="radio" class="form-control" name="role" value="admin"><label>Admin</label>
                    </div>
                   <div class="form-group mx-auto">
                    <label class="text-danger" style="padding: 5px" for="disabled">Disabled:</label>
                    <input [(ngModel)]="isDisabled" type="radio" class="form-control" name="disabled" value="1"><label>Yes</label>
                    <input [(ngModel)]="isDisabled" [ngModelOptions]="{standalone: true}" type="radio" class="form-control" name="disabled" value="0"><label>No</label>
                   </div>
                   <button (click)="addUser(nameValue, role, isDisabled)" type="submit" class="btn btn-danger mx-auto">Add User</button>
                 <!-- </div> -->
                </form>
              </div>
          </div>
      </div>
  </div>
</div>
