<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">{{user}}</h4>
                  </div>
                  <div class="card-body">
                    <table class="table table-hover">
                          <thead class="text-danger">
                              <th>Skills</th>
                          </thead>
                          <tbody>
                            <tr *ngFor="let result of searchResult">
                              <td>{{result.skill}} &nbsp;&nbsp;<span (click)="deleteSkill(result.skill)">&#10006;</span></td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>

           <!-- open a modal window by clicking button-->
          <button class="btn btn-danger mat-raised-button mx-auto" data-toggle="modal" data-target="#bootstrapModel">Add Skill</button>

          <!-- Modal section -->
          <div id="bootstrapModel" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Add Skill </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          <!-- model body section -->
                <div class="modal-body">
                  <input [(ngModel)]="skillToBeAdded" type="text" class="form-control" placeholder="Add a skill">

                  <ul>
                    <li>
                      <button>
                              <span>Data Structures</span>
                      </button>
                      
                    </li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button (click)="addSkill()" class="btn btn-danger" data-dismiss="modal">Add Skill</button>
                  <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!-- profile page -->
          <!-- <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="#pablo">
                          <img class="img" src="../assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
</div>
