<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">{{user}}</h4>
                  </div>
                  <div class="card-body">
                    <table class="table table-hover">
                          <thead class="text-danger">
                              <th>Skills</th>
                          </thead>
                          <tbody>
                            <tr *ngFor="let result of searchResult">
                              <td>{{result.skill}} &nbsp;&nbsp;<span (click)="deleteSkill(result.skill)">&#10006;</span></td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
            <button class="btn btn-danger mat-raised-button mx-auto" data-toggle="modal" data-target="#bootstrapModel">Add Skill</button>
          </div>

           <!-- open a modal window by clicking button-->

          <!-- Modal section -->
          <div id="bootstrapModel" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Add Skill </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          <!-- model body section -->
                <div class="modal-body">
                  <input [(ngModel)]="skillToBeAdded" type="text" class="form-control" placeholder="Add a skill">
                  <!-- <ul>
                    <li>
                      <button>
                              <span>Data Structures</span>
                      </button>
                    </li>
                  </ul> -->
                </div>
                <div class="modal-footer">
                  <button (click)="addSkill()" class="btn btn-danger" data-dismiss="modal">Add Skill</button>
                  <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!--Edit Details Modal section -->
          <div id="personalDetailsEditModel" class="modal fade" role="dialog">
            <div class="modal-dialog" style="max-width: 760px;">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Edit Personal Details </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          <!-- model body section -->
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">Full Name</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">Address Line 1</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">Primary Mobile No.</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">Joining Date</span>
                        </div>
                        <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">Github Id</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">Latest Resume</span>
                        </div>
                        <input type="file" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">Official Email</span>
                        </div>
                        <input type="email" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">Address Line 2</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">Emergency Contact No.</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">Blood group</span>
                        </div>
                        <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">Brief About Yourself</span>
                        </div>
                        <!-- <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"> -->
                      </div>
                      <div class="input-group mb-3">
                        <textarea class="form-control border"></textarea> 
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">Skill set</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button (click)="addSkill()" class="btn btn-danger" data-dismiss="modal">Save</button>
                  <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!-- profile page -->
          <div class="col-md-4">
              <div class="card card-profile">
                  <!-- <div class="card-avatar">
                      <a>
                          <img class="img" src="../assets/img/faces/marc.jpg" />
                      </a>
                  </div> -->
                  <div class="card-body">
                      <p class="card-description">
                          Small description goes here, here and here!
                      </p>
                      <h6 class="card-category text-gray">someone@kickdrumtech.com</h6>
                      <h5 class="card-title">
                        <a href="http://github.com/FarhatRV" target="_blank">
                            <img class="img" src="../assets/img/github-mark.png" />githubid
                        </a>
                      </h5>
                      <h5 class="card-title">
                        <a href="http://resumeDownloadLink" target="_blank">
                            <span class="glyphicon glyphicon-download-alt"></span>resume
                        </a>
                      </h5>
                      <a class="btn btn-danger btn-round" data-toggle="modal" data-target="#personalDetailsEditModel">Edit</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
